Title:
Cars Sales Python Notebook

Introduction:
This is a dataframe of Cars being sold. It includes the price, model by year, model my type, condition of car, cylinders the car runs on, type of fuel it uses, the amount of miles driven already , type of transmission, how many days its listed to be sold, date posted, paint of car and type of car.

In [181]:
import pandas as pd

In [182]:
import plotly.express as px

In [183]:
import streamlit as st

In [184]:
cars = pd.read_csv('../vehicles_us (1).csv')

In [185]:
cars.head()

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28

Scatterplot shows more intriquitely what the histogram was showing. Sales on newer models are comparably higher. but 2 points in the plot show 1999 and 2015 having the 2 highest sales prices. Still the highest sales in general tend to be right before 2020.

In [188]:
cars.duplicated().sum()

0

No duplicates were found in the entire database. The company was very careful in leave no doubles in the chart sales orders.

In [189]:
cars['model_year'].fillna('Missing', inplace = True)
cars['cylinders'].fillna(0, inplace = True)
cars['paint_color'].fillna('Missing', inplace = True)
cars['is_4wd'].fillna(0, inplace = True)
cars['odometer'].fillna(0, inplace = True)

The na values of 0 were changed to floats from string values by instruction of reveiwer. All string nan values changed to 'missing'.

In [190]:
cars.head(10)

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,Missing,1.0,2018-06-23,19
1,25500,Missing,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,0.0,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,0.0,automatic,pickup,Missing,0.0,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,0.0,2019-04-02,28
5,14990,2014.0,chrysler 300,excellent,6.0,gas,57954.0,automatic,sedan,black,1.0,2018-06-20,15
6,12990,2015.0,toyota camry,excellent,4.0,gas,79212.0,automatic,sedan,white,0.0,2018-12-27,73
7,15990,2013.0,honda pilot,excellent,6.0,gas,109473.0,automatic,SUV,black,1.0,2019-01-07,68
8,11500,2012.0,kia sorento,excellent,4.0,gas,104174.0,automatic,SUV,Missing,1.0,2018-07-16,19
9,9200,2008.0,honda pilot,excellent,0.0,gas,147191.0,automatic,SUV,blue,1.0,2019-02-15,17

In [191]:
grouped_data = cars.groupby(['model', 'model_year'])['cylinders']
grouped_data.head(5)

0         6.0
1         6.0
2         4.0
3         8.0
4         4.0
         ...
51325     0.0
51418     8.0
51449    10.0
51458     6.0
51469     6.0
Name: cylinders, Length: 10024, dtype: float64

Groupby is used here as requested by reviewer. The model of the cars and year of car go up as cylinder count go up.

In [192]:
grouped_data.median()

model              model_year
acura tl           1999.0        6.0
                   2001.0        6.0
                   2002.0        6.0
                   2003.0        6.0
                   2004.0        6.0
                                ...
volkswagen passat  2015.0        4.0
                   2016.0        4.0
                   2017.0        4.0
                   2018.0        4.0
                   Missing       4.0
Name: cylinders, Length: 2326, dtype: float64

Median od these models by year and model type were calculated.

In [193]:
cylinder_nan_fillna = cars.groupby(["model_year"])['cylinders'].median().reset_index()

In [194]:
cylinder_nan_fillna

   model_year  cylinders
0      1908.0        8.0
1      1929.0        8.0
2      1936.0        6.0
3      1948.0        8.0
4      1949.0        0.0
..        ...        ...
64     2016.0        6.0
65     2017.0        6.0
66     2018.0        6.0
67     2019.0        6.0
68    Missing        6.0

[69 rows x 2 columns]

In [195]:
def replace_with_median(row):
    if pd.isna(row['cylinders']):
        return cylinder_nan_fillna[cylinder_nan_fillna['model_year']] == row['model_year']
    return row['cylinders']

cars['cylinders_upd'] = cars.apply(replace_with_median, axis = 1)

This variable and function was made to fix na values of cylinders by request of reviewer. Function replaces nan values with median cylinder values based on 
model year and model type.

In [196]:
cars['cylinders'].isna().sum()

0

All nan values have been fixed.

In [197]:
cars.isna().sum()

price            0
model_year       0
model            0
condition        0
cylinders        0
fuel             0
odometer         0
transmission     0
type             0
paint_color      0
is_4wd           0
date_posted      0
days_listed      0
cylinders_upd    0
dtype: int64

In [ ]:
fig = px.histogram(x = cars['model_year'], y = cars['price'])
fig.update_layout(xaxis_title='Model Year', yaxis_title='Price') #app.py style for convinence
fig.update_layout(title = 'Car Sales Histogram')
fig.show()

As shown in this grapgh, cars tend to be bought at higher rates with higher prices the more recent the model. The deep dive in price can be explained by bonus discounts and overall bonuses given to people for trading in there older model to get newer models. Essentially the either people dont buy the latest cars because they maybe too expensive, or they dont have to buy them full price because they pay a trade in discount for the vechicle.

In [ ]:
fig2= px.scatter(x = cars['model_year'], y = cars['price'])
fig2.update_layout(xaxis_title='Model Year', yaxis_title='Price')#app.py style for ease of use
fig2.update_layout(title = 'Car Sales Scatter Plot')
fig2.show()

Scatterplot shows more intriquitely what the histogram was showing. Sales on newer models are comparably higher. but 2 points in the plot show 1999 and 2015 having the 2 highest sales prices. Still the highest sales in general tend to be right before 2020.

In [198]:
New_models =st.checkbox("You car is from 2013 or older")

if New_models:
    st.write("Car models reach over 48 mil in sales")

In [199]:
cars

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed,cylinders_upd
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,Missing,1.0,2018-06-23,19,6.0
1,25500,Missing,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50,6.0
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,0.0,2019-02-07,79,4.0
3,1500,2003.0,ford f-150,fair,8.0,gas,0.0,automatic,pickup,Missing,0.0,2019-03-22,9,8.0
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,0.0,2019-04-02,28,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51520,9249,2013.0,nissan maxima,like new,6.0,gas,88136.0,automatic,sedan,black,0.0,2018-10-03,37,6.0
51521,2700,2002.0,honda civic,salvage,4.0,gas,181500.0,automatic,sedan,white,0.0,2018-11-14,22,4.0
51522,3950,2009.0,hyundai sonata,excellent,4.0,gas,128000.0,automatic,sedan,blue,0.0,2018-11-15,32,4.0
51523,7455,2013.0,toyota corolla,good,4.0,gas,139573.0,automatic,sedan,black,0.0,2018-07-02,71,4.0
51524,6300,2014.0,nissan altima,good,4.0,gas,0.0,automatic,sedan,Missing,0.0,2018-06-05,10,4.0

Conclusion: 
The file contains no duplicates but does have alot of missing values in 'is_4wd', 'paint_color', 'odometer', 'cylinders', and 'model_year'. This was fixed overall. A special fix was made for the cylinder count cloumn with a function that fills in the chart with a median based on model year and model type what that the car is. 

Based on the charts, usually the more recent a car was made the more you pay for it. Just like value/price cylinder count on vehicles seems to go up as the models get more recent. In the future we may see even more cylinders on our vehicles, who knows!